
.wrapper {
	max-width: 75%;
}

table {
	margin-bottom: 1em;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

tr:last-child td {
	border-bottom: 1px solid black;
}

th {
	border-bottom: 1px solid black;
}

td {
	padding: 0.25em;
	vertical-align: top;
}

.home table {
	width: 100%;
}

.home tr td:nth-child(1) {
	width: 10%;
	text-align: center;
}

.home tr td:nth-child(2) {
	width: 40%;
}

.home tr td:nth-child(3) {
	width: 40%;
}

.page-heading {
	margin-top: 1em;
	font-size: xx-large;
	text-align: center;
}

.post-list h2 {
	font-size: large;
}